{% extends "base.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block title %}
    {{ 'app.password.change' | trans }}
{% endblock %}

{% block breadcrumb %}
    <li class="active"><strong>{{ 'app.password.change' | trans }}</strong></li>
{% endblock %}

{% block body %}
    {{ parent() }}
    {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock %}
