.middle-box h1 {
    font-size: 70px;
    letter-spacing: -5px;
}

form ul.error > li{
    color: #ed5565;
}

form.remove-entity{
    display: inline;
}

.settings-item .btn-white {
    color: #030303;
}

.nav-second-level span.nav-label {
    display: block !important;
}

.select2-dropdown {
    z-index: 9001;
}

.tabs-container .nav-tabs.nav-justified > li {
    float: none !important;
}

.tabs-container .nav-tabs.nav-justified {
    border-bottom: none !important;
}

.tabs-container .nav-tabs.nav-justified > li a:hover {
    border-bottom: 1px solid #e7eaec;
}

.tabs-container .nav-tabs.nav-justified > li.active a:hover {
    border-bottom: none !important;
}

div.blockUI.blockOverlay {
    z-index: 2030 !important;
}

div.blockUI.blockMsg {
    z-index: 2031 !important;
}

#blockUIMessage{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.highlight {
    background-color:#F8AC59;
}

.pointer{
    cursor: pointer;
}

.media-body {
    min-height: 60px;
}

.select2{
    width: 100%;
}

.fc-center h2 {
    text-transform: capitalize;
}
a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
    background-color:#d9d9d9 !important;
    color:#aaa !important;
}
.select2-container .select2-selection {min-height: 35px;}
.select2-container .select2-selection__arrow { margin-top: 5px; }
.select2-container .select2-selection__rendered { margin-top: 3px; }
.select2-container .select2-selection--multiple .select2-selection__rendered { margin-top: 2px; }
.has-error .select2-container { border: solid 1px #ed5565; }
.select2-dropdown.select2-dropdown--below { z-index: 99999; }
.dragging { background-color:#F8AC59; }

.navbar-top-links .dropdown-menu li a {
    padding: 0 0;
}

.dropdown-alerts img { width: 38px; height: 38px; margin: 5px 8px; }
.dropdown-alerts li a { margin: -10px; top: 0; position: relative; border-bottom: 2px solid #494A4E; }
.dropdown-alerts li a div.media-body { padding: 3px 10px 3px 0 }
.dropdown-alerts li.active a { background-color: #2F4050; }
.dropdown-alerts li.active a:hover { background-color: #2F4050; }
.dropdown-alerts li.active small.text-muted { color: #fff; }
.dropdown-menu > li > a {  border-radius: 0;  }

ul.case_labels { list-style-type: none; }
ul.case_labels li { width: 33%;float: left; }
ul.dropdown-locales li { height: 25px; width: 300px; padding-right: 8px; }

#impersonate-logout {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}
.open-impersonate-logout {
    height: 38px;
    width: 38px;
    display: block;
    background: #EC4758;
    padding: 9px 8px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}
.open-impersonate-logout:hover {
    color: white;
    background: #f05c6b;
}