{% trans_default_domain 'AppBundle' %}
<div class="footer">
    <div class="pull-right">
        {{ 'app.copyright' | trans }} <strong>{{ app_vendor }}</strong> &copy; {{ 'now' | date('Y') }}
    </div>
    <div id="inspinia-status-bar"></div>
</div>